.logo-wrapper {
    background-color: rgb(255, 246, 246);
}
.new-fa-bars {
    color:#CC6699;
}
.home-p{
    font-size: 20px;
    color:#422031
}
.icon-style{
    color:#CC6699;
    size: 50px;
}
.footer-new{
    background-color:rgb(255, 246, 246);

}
.company-name{
    font-size: 18px;
    color: #CC6699;
    font-weight: bold
}
.btn-order-now {
    background-color: #CC6699;
}
.btn-order-now:hover, .btn-order-now:active, .btn-order-now:focus {
    color: #ffffff ;
    background-color: #CC6699;
  }
.p-font {
    color:black;
}
.contact-data{
    color: #CC6699;
    font-weight: bold
}