.logo-wrapper {
    background-color: rgb(255, 246, 246);
}
.new-fa-bars {
    color:#CC6699;
}
.home-p{
    font-family: Helvetica, 'Courier New', Courier, monospace;
    color :black;
    font-size: 30px;
}